@mixin visually-hidden {
  appearance: none;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin reset-btn {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}